/* add your CSS here */
.complete_card{
    width:300px;
    height:600px;
    padding: 0.5em;
    border: 5px solid grey ;
}
h3{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
}
img{
    width:300px;
    height:298px;
    border:2px solid gainsboro;
}
.card_text{
    width:288px;
    height:202px;
    font-size: x-small;
    border: 2px solid gainsboro;
    padding: 0.6em;
}
.interesting_fact{
    font-family:cursive;
    font-style:italic;
    border:1px solid white;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
    border: 1px solid white;
}
li span{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif, serif;
}
p{
    font-family:sans-serif, serif;
    border: 1px solid white;
}